.App {
  min-height: 100vh;
  font-family: 'Raleway', 'Microsoft JhengHei', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #61DAFB;
  background: #2D2D2D;
}

.todo-list {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 25px auto;
  border-radius: 7px;
  box-shadow: 1px 0 7px rgb(47, 255, 238);
  background: white;
}

.todo {
  width: 75%;
  padding: 2% 6%;
  cursor: pointer;
  border-bottom: 0.5px solid rgb(201, 200, 200);
}

.todo:hover {
  background-color: #F5F5F5;
}

.todo-text {
  transition: transform .2s;
  /* Animation */
}

.todo-text:hover {
  transform: scale(1.2);
}

.title {
  text-align: center;
  font-size: 1.9rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20% 0;
  margin: 0;
}

.add-input {
  text-align: center;
  border: none;
  background: transparent;
  outline: none;
  font-size: 2rem;
  color: #000;
  opacity: .2;
  padding: 5% 0 5% 0;
}

form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.todo-text, .delete {
  display: inline-block;
  vertical-align: initial;
}

.delete {
  background-color: transparent;
  border: none;
  margin: 2% 6%;
  font-size: 1.5rem;
  color: #000;
  opacity: .2;
  cursor: pointer;
}

.delete:hover {
  color: red;
  opacity: initial;
  outline: none;
}